.first-btn,
.second-btn {
    font-family: helvetica, 'Times New Roman', sans-serif;
    font-size: 28px;
}

.first-btn {
    background-color: black;
    color: white;
}

.second-btn {
    background-color: yellow;
}